html {
    display: flex;
    height: 100%;
    width: 100%;
}
body {
    display:flex;
    padding: 0.2em;
    width:100%;
}
.column {
    display:flex;
    flex: 1;
    border: 1px black solid;
    margin: 0.2em;
    flex-direction: column;
}
.col-title {
    margin: 0.4em;
}
